{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="text-center mb-4">Set New Password</h2>
                {% if validlink %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary btn-block w-100 mt-4" type="submit">Set New Password</button>
                    </form>
                {% else %}
                    <div class="alert alert-danger">
                        <p>The password reset link was invalid, possibly because it has already been used.</p>
                        <p>Please request a new password reset.</p>
                    </div>
                    <a href="{% url "password_reset" %}" class="btn btn-outline-primary mt-3">Request New Reset Link</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
