{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="text-center mb-4">Reset Password</h2>
                <p class="text-muted mb-4">Enter your email address below, and we'll email instructions for setting a new password.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary btn-block w-100 mt-4" type="submit">Send Password Reset Email</button>
                </form>
                <div class="border-top pt-3 mt-4 text-center">
                    <small class="text-muted">
                        <a href="{% url "login" %}">Back to Login</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
