{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Category - Django Blog{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="mb-4">Create New Category</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Create Category</button>
                        <a href="{% url "blog:post_list" %}" class="btn btn-outline-secondary ms-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
